.main{font-size: x-large;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: "Arial", sans-serif;
  color: white;
}

.main{margin-top: 10px; align-items: center;}



a {
  text-decoration: none;
}

.link {
  color: rgb(96, 96, 255);
}

.link:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}


/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #1F1B24;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 22px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 0.5em;
  font-size: 18px;
}

.menu li:hover {
  background-color: black;
  border-radius: 5px;
  transition: 0.3s ease;
}

#headshot-container{
  display: flex;
  align-items: left;
  flex-direction: column;
  

}
/* 
.menu li {
  padding: 1px 1px;
} */

.headshot {
  /* padding: 10px 10px;  */
  /* padding-top: 100px; */
  /* object-fit: cover; */
  /* padding-left: 20px; */
  padding-right: 20px;
  margin-bottom: 25px;
  width:250px;height:auto;
}




.row {
  display: flex;
  width: 100%;
  margin-left: 18%;
  flex-wrap: wrap;
}

h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.column1 {
  width: 30%;
  max-width: 300px;
  min-width: 280px;
  margin-bottom: 50px;
  margin-right: 30px;
}

.column2 {
  /* margin-left: 5%; */
  margin-right: 25%;
  width: 40%;
}

.contact-info { 
  font-size: 18px;
}

/* .column1 {
  align-content: center;
  width:275px;
  padding-top: 50px;
  margin-left: 20%;
  /* -left: 300px; */
  /* padding-left: 10%;
  margin-left: 10%; */
  /* position: fixed;
  word-wrap: break-word;
} */ 

/* .column2 {
  margin-left: 35%;

  padding: 50px;
  padding-left: 150px;
  padding-right: 400px;
  font-size: 18px;
  width: 1100px;
} */

.column1-body{
  /* width: 10px;; */
  word-wrap: break-word;
}


.news-container{
  padding-top: 30px;
}

.news-body{
  /* font-style: italic; */
  font-size: 18px;
}

#news-title{
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(186, 82, 186);
}

.text-box{
  border-radius: 10px;
  border-style: double;
  border-width: 0px;
  border-color: rgb(112, 112, 112);
  background-color: rgb(36, 38, 38);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}


.news-li {
  /* display: inline; */
  font-size: 16px;
  list-style: none inside;
  margin-top: 20px;
  /* list-style: line; */
}

.name {font-size: 50px; margin-bottom: 20px; align-self: center;}


@media (max-width: 1385px) {


  .column1 {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      max-width: 100%;
    }
    .row {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
    .column2 {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      
    }
    .main {
      /* color: aqua; */
      /* font-size: ; */
    }
  }